html {
  background-color: hsl(198, 20%, 92%);
}
body {
  background-color: hsl(198, 20%, 92%);
}
::selection {
  background: #fff10d;
}
.bg-light {
  background-color: white !important;
  box-shadow: 0 10px 20px hsla(0, 0%, 25%, 0.1);
  transition: 0.2s all;
}
.thumbnail {
  background-color: white;
  height: 250px;
  margin: 40px 10px 0 10px;
  border-radius: 10px;
  box-shadow: 0 10px 20px -10px hsla(0, 0%, 25%, 0.2);
  padding: 20px;
  transition: 0.2s all;
}
.thumbnail-image {
  background-color: white;
  /* height: 250px; */
  margin: 40px 10px 0 10px;
  border-radius: 10px;
  box-shadow: 0 10px 20px -10px hsla(0, 0%, 25%, 0.2);
  padding: 20px;
  transition: 0.2s all;
}
.single {
  background-color: white;
  margin: 40px 10px 0 10px;
  border-radius: 10px;
  box-shadow: 0 10px 20px -10px hsla(0, 0%, 25%, 0.2);
  padding: 30px;
  transition: 0.2s all;
}
.thumbnail:hover, .thumbnail:hover > .heart {
  box-shadow: 0 10px 40px hsla(0, 0%, 25%, 0.3);
  color: hsla(329, 99%, 40%, 1);
}
.thumbnail h5 {
  transform: translateY(5px);
}
.thumbnail-colors {
  height: 170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.thumbnail-colors img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.thumbnail p {
  margin: 10px;
  color: rgba(0,0,0, 0.5);
}

.thumbnail a:hover {
  text-decoration: none;
}

.thumbnail-color {
  width: 100%;
  height: 25%;
}
.single-colors {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.single-color {
  width: 100%;
  height: 20%;
  margin: 0 0;
  border-radius: 10px;
  transition: all 0.2s;
  text-align: center;
  display: table;
  cursor: pointer;
}
.single-color:hover {
  height: 30%;
}
.single-color:hover > .color-name {
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
  /* text-shadow: 0 10px 40px hsla(0, 0%, 25%, 0.3); */
}
.tip {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 20px;
  margin-top: 10px;
  right: 25px;
  position: absolute;
  border-radius: 4px;
  z-index: 5;
  color: #fff;
  font-size: 12px;
  animation: fadeinout 2s linear forwards;
}
@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.single-elements {
  height: 500px;
}
#dots {
  font-size: 0.14rem;
  vertical-align: text-bottom;
}
#dots i {
  margin-right: 3px;
}
#website-logo {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#website-title {
  color: hsl(0, 0%, 25%);
  /* margin-left: 5px; */
}
.single-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail-image .single-image {
  height: 100%;
  width: 98%;
}
.single-title {
  justify-content: space-between;
}
.color-name {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  font-weight: 800;
  opacity: 0;
}
.color-name a {
  color: #fff;
  text-decoration: none;
}
.single-title h5,
.single-title h3 {
  margin: 40px;
}
.form-title {
  margin: 20px auto;
  text-align: center;
}
.single-title a {
  text-decoration: none;
  color: #cc016b;
}
.thumbnail-title h5,
.thumbnail-title h3 {
  margin: 10px 20px;
}
.thumbnail-title a {
  text-decoration: none;
  color: #cc016b;
}
.heart:hover .heart-empty,
.heart .heart-full {
  /* display: none; */
  margin: 0;
}
.heart:hover .heart-full {
  margin: 0;
  display: inline;
}
.heart {
  color: hsla(329, 99%, 40%, 0.2);
  text-align: center;
  transition: 0.2s all;
}
/* .heart:hover { */
  /* color: hsla(329, 99%, 40%, 1); */
/* } */
.box input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border: none;
  background-color: hsl(198, 20%, 92%);
  margin-bottom: 30px;
  border-radius: 5px;
}

.form {
  background-color: white;
  margin: 40px 10px 0 10px;
  border-radius: 10px;
  box-shadow: 0 10px 20px -10px hsla(0, 0%, 25%, 0.2);
  padding: 30px;
  transition: 0.2s all;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.btn-form {
  padding: 10px 25px;
  height: 50px;
  margin: 20px auto;
  display: block;
  background: #0093d3;
  color: #fff;
}

.form p {
  margin: 0 auto;
  display: block;
}

.form:focus-within {
  box-shadow: 0 10px 40px hsla(0, 0%, 25%, 0.3);
}

#registration_form_agreeTerms {
  margin: 10px;
}

.endpage {
  height: 40px;
  width: 100%;
}

.nav-icon {
  margin-right: 10px;
}

canvas {
  border: 1px solid black;
}

.medium-zoom-image, .medium-zoom-overlay {
  z-index: 2000;
  object-fit: cover;
}

.last-thumbnail-3 > div:nth-last-child(-n+3) {
  opacity: 0.75;
}

.last-thumbnail-2 > div:nth-last-child(-n+2) {
  opacity: 0.5;
}

.last-thumbnail-1 > div:nth-last-child(-n+1) {
  opacity: 0.25;
}